/*Les fieldset de la page*/
#ent_entreprises fieldset legend {
    font-style: italic;
    font-size: 1em;
}

/*Le tableau*/
#ent_companies {
    display: flex;
    justify-content: center;
	padding-right: 18px;
}

/*la mise en page globale du tableau*/
#ent_board {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

/*les fieldset du tableau*/
#ent_companies fieldset {
    width: 100%;
}

/*Les lignes*/
#ent_board tr {
    border: 1px solid #87BB34;
    background-color: #BDC3C7;
}

#ent_tbody tr:nth-child(2n+1) {
    background-color: #FFFFFF;
}

#ent_tbody tr:nth-child(2n) {
    background-color: #87BB34;
}

.ent_selected {
    text-decoration: underline;
}

.ent_selected .ent_pictoDelete {
    visibility: visible;
}

/*Les cellules*/
#ent_board th, #ent_board td {
    height: 29px;
}

/*La cellule contenant les pictos de suppression et modification*/
#ent_pictures {
    width: 50px;
}

.ent_pictoDelete {
    width: 16px;
    height: 18px;
    padding-top: 4px;
    visibility: hidden;
    opacity: 0.6;
}

.ent_line:hover {
    cursor: pointer;
}

.ent_pictoDelete:hover {
    opacity: 1;
}

.ent_line:hover .ent_cels {
    text-decoration: underline;
}

/*La recherche*/
#ent_search {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#ent_searchInputs input {
    border: 1px solid #87BB34;
    height: 20px;
    background: url(../img/ent_search.png) no-repeat;
    background-size: 10%;
    background-position: 2% 1px;
    padding-left: 27px;
}

#ent_searchInputs input:focus {
    outline-style: solid;
    outline-color: #87BB34;
    outline-width: 1px;
}

/*La div d'affichage d'indications*/
#ent_message {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    font-size: 1.2em;
	padding-right: 18px;
}

#ent_indications {
    margin: 0;
    height: 39px;
}

#ent_socialName {
    font-weight: bold;
    font-style: italic;
}

#ent_retour {
    margin: 0;
}

/*Le formulaire*/
#ent_form {
    margin-top: 20px;
    padding-right: 18px;
}

#ent_coordonneesTotal input {
    border: 1px solid #87BB34;
}

#ent_coordonneesTotal input:focus {
    outline-width: 1px;
    outline-style: solid;
    outline-color: #87BB34;
}

/*Les blocs coordonnées, représentant, activités et activités ajoutées*/
#ent_coordonneesTotal {
    border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
}

#ent_coordRepresDiv {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

#ent_coordonneesDiv, #ent_represDiv {
    flex-grow: 1;
}

#ent_tutorActivityDiv {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
}



/*Le bloc coordonnées*/
#ent_nomMailDiv p, #ent_adressDiv1 p, #ent_adressDiv2 p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#ent_cityCountry p {
    margin-top: 0;
}

/*Les boutons*/
.ent_button {
    padding: 10px 20px;
    text-decoration: none;
    font-family: Verdana, Arial;
    font-weight: bold;
    font-size: 11px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}

#ent_buttonsDiv {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

#ent_reset {
    margin-left: 5px;
}

/*Les classes de display des différents boutons*/
.ent_hide {
    display: none;
}

.ent_show {
    display: inline-block;
}


.ent_alignDiv {
    /*border: 1px solid green;*/
    display: flex;
}

.ent_columnDiv {
    border: 1px solid yellow;
    display: flex;
    flex-direction: column;
}




